name: PR workflow

on:
  pull_request:
    types: [opened, synchronize, reopened]


jobs:
  print-context:
    if: ${{ github.event.pull_request.head.ref == 'pr-branch' }}
    uses: ./.github/workflows/pr_call.yaml@pr-branch
